@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FixaBiffen</h1>
    <p class="lead">FixaBiffen är en tjänst för förmedling av microjobb.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Planen</h2>
        <p>
            Planen är att skapa en MVCapp i asp.net baserad på en uppgift från min utbildning. En bättre version än den jag lämnade in under kursens gång. 
            Siten kommer att vara på svenska men all dokumentation skall vara på engelska.
        </p>
        <p><a class="btn btn-default" href="https://github.com/PhilipAndreasson/FixaBiffen">Github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Jag vill i framtiden, när appen är klar, hosta i azure eller amazon. </p>
        <p>
            <a class="btn btn-default" href="http://azure.microsoft.com/sv-se/">Azure</a>
            <a class="btn btn-default" href="http://aws.amazon.com/ec2/">Amazon AWS</a>
        </p>
    </div>
</div>